<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />

  <style>
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      appearance: none;
      background: none;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <div class="abc">
    <img class="loginimg" src="../static/images/loginimg.png" />
    <div class="signuprect">
      <div class="title">
        <div class="sign-up">SIGN UP</div>
      </div>
      <div>
        <form action="{{url_for('register')}}" method="post">
          <div class="inputbox">
            <div class="input-group">
              <label for="username" class="username">USERNAME</label>
              <input type="text" name="username" id="username" class="input-field">
            </div>
            <div class="input-group">
              <label for="email" class="email-id">EMAIL ID</label>
              <input type="email" name="email" id="email-id" class="input-field">
            </div>
            <div class="input-group">
              <label for="password" class="password">PASSWORD</label>
              <input type="password" name="password" id="password" class="input-field">
            </div>
            <div class="input-group">
              <label for="confirm password" class="confirm-password">CONFIRM PASSWORD</label>
              <input type="password" name="confirm_password" id="confirm-password" class="input-field">
            </div>
          </div>
          <div class="confirmbutton">
            <div class="confirmrect"></div>
            <div><a href="{{url_for('register')}}"><button class="confirm">SUBMIT</button></a></div>
          </div>
          {% for message in get_flashed_messages() %}
          <div class="flash-message">
            {{ message }}
          </div>
          {% endfor %}
        </form>

      </div>
    </div>

</body>

</html>